:root {
--nav:      #e0e0e9;
--navHover: #D0D0D9;
--white:    #a4a98040;
--border:   30px;
--red:      #e9c4b7;
--redHover: #d9c4c7;
--subnavHover:  #B9B9B0;
--blue:     #a0c0cc;
--orange:   #caa949;
--purple:   #c7b0cc;
--green:    #a4a980c1;
--greenHover: #a4a980;
        }

#top {
            width: 1px;
            height: 1px;
            position: absolute;
            top: 0px;
            left: 0px;
        }

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
            
         @font-face {
             font-family: 'donut';
             src: url('fonts/donut.ttf2') format('woff2'), url('fonts/donut.ttf') format('woff');
             font-weight: normal;
             font-style: normal;
        }
        
        /* fade in drop down menus */
         @keyframes hover {
             0% {
                opacity: 0%;
                 display: none;
            }
             100% {
                opacity: 100%;
            }
        }
            
         body {
             background-color: var(--white);
             text-align: center;
             font-family: chalkduster;
        }
            
         h1 .header {
             font-family: cursive;
             font-size: 40px;
        }
            
         .logo {
             position: absolute;
             height: 70px;
             width: 70px;
             inset: 5px 0 0 5px;
             border-radius: 20px;
        }
            
         a {
             text-decoration: none;
             color: black;
        }
            
         nav {
             margin-top: 20px;
             margin: auto;
             width: 100%;
             display: flex;
             justify-content: center;
             background: var(--nav);
             border-radius: 30px;
             font-family: cursive;
        }
            
         nav ul {
             list-style: none;
             justify-content: center;
             flex-wrap: wrap;
             display: flex;
             max-width: 90%;
        }
        
        /* navbar links */
         nav ul li a {
             font-size: 16px;
             font-weight: bold;
             border-left: 1px solid black;
             padding: 20px;
             border-radius: var(--border);
             display: flex;
             align-content: center;
             border-left: 1px solid black;
             transition-duration: 0.3s;
             margin: 5px;
        }
        
        nav ul li a:hover {
            background: var(--navHover);
        }
      
        /* remove duplicate borders on elements with a dropdown */
         body nav ul div li {
             border: none;
        }
        
        /* dropdown content (hidden by default) */
        nav ul li div {
            display: none;
            position: absolute;
            flex-direction: column;
            background-color: #e9e0e7;
            max-height: 325px;
            overflow: auto;
            scrollbar-width: none;
            border-radius: 10px;
            font-family: chalkduster;
            font-weight: bold;
            transition-duration: 1s;
            border: none;
        }
         
        /* make dropdown visible on hover */
        nav ul li:has(div):hover > .dropdown-content {
            display: inherit;
            animation-name: hover;
            animation-duration: 1s;
        }
        
        /* Links inside the dropdown */
         .dropdown-content a {
             padding: 12px 16px;
             text-decoration: none;
             display: flex;
             flex-direction: column;
             justify-content: center;
             border-radius: 20px;
             background: #e9e0e7;
             margin: 0px;
            transition-duration: 0.3s;
             border: none;
        }
        
         .dropdown-content a:hover {
             background-color: #cbc3c9;
        }
