@font-face {
    font-family: 'donut'; 
    src: url('fonts/donut.ttf2') format('woff2'), 
         url('fonts/donut.ttf') format('woff'); 
    font-weight: normal;
    font-style: normal;
}



body {
	background-color: #e9e9e0;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    border: 1px solid black;
}

nav ul li {
    padding: 13px 60px;
    border-left: 1px solid black;
    border-right: 1px thin black;
    font-family: cursive;;
}

nav ul li:first-child {
    border: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}


