        body {
            background-color: #450010;
            font-size: 28px;
            font-family: Americantypewriter;
            text-align: center;
            box-sizing: border-box;
        }

        h1 {
            color: #6495ed;
            text-align: center;
            font-size: 42px;
            position: sticky;
            top: 1px;
            padding: 50px;
            background-color: #450010;
            margin: auto;
            z-index: 1;
        }

        li {
            color: #6495ed;
            position: sticky;
            top: 200px;
            background-color: #450010;
            height: 100px;
            padding-top: 100px;
            padding-bottom: 100px;
            list-style-position: inside;
            margin: auto;
            list-style: none;
        }

        li a {
            color: #6495ed;
        }
        
        ul {
            padding-bottom: 100px;
        }
        
        h4 {
            position: sticky;
            top: 130px;
            font-size: 25px;
            z-index: 1;
        }

        a {
            color: #9495ed;
            text-decoration: none;
        }

        ul:last-child {
            padding-bottom: 200px;
        }
