
     .picture {
        flex-wrap: wrap;
        place-content: space-around;
     }
      
      .picture img {
          max-height: 200px;
          max-width: 400px;
          padding: 5px;
          scale: 100%;
      }

        #top {
            width: 1px;
            height: 1px;
            position: absolute;
            top: 0px;
            left: 0px;
        }

        ol {
            display: inline-flex;
            list-style: none;
            font-size: 20px;
        }
        
        ol li {
            margin-right: 1px;
            margin-left: 1px;
        }
        
        li.first {
            border-right: 2px solid gray;
            padding: 10px;
        }
        
        li.first a,
        li.second a {
            padding: 10px;
            border-radius: var(--border);
            transition-duration: 0.3s;
        }
        
        li.second {
            border-left: 2px solid gray;
            padding: 10px;
        }
        
        li.second a:hover,
        li.first a:hover {
            background: #b9b9b0;
        }
        
        .bottom p {
            background-color: #e9e0e7;
            display: inline-block;
            padding: 15px;
            border-radius: 75px;
            text-align: right;
        }
